<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "title" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bluetooth">

  <ion-list>

    <ion-item>
      <ion-label>{{ "ble.SelectDevice" | translate }}</ion-label>
      <ion-select [(ngModel)]="bledevice" (ngModelChange)="bledeviceChanged($event)">
        <ion-option *ngFor="let device of devices" value="{{device.id}}">
          {{device.name}}
        </ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-list [hidden]="!selected">

    <ion-item>
      <ion-label>Posi&ccedil;&atilde;o do Pneu</ion-label>
      <ion-select [(ngModel)]="position">
        <ion-option *ngFor="let position of positions" value="{{position.k}}">
          {{position.v}}
        </ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <button primary block (click)="inflatePair(position)" style="width: 45%; float:left; clear: none; margin: 5px;">{{ "Pareamento" }}</button>
      <button secondary block (click)="askTiresData(position)" style="width: 45%; float:left; clear: none; margin: 5px;">{{ "Pegar Dados" }}</button>
    </ion-item>

  </ion-list>

  <ion-card *ngFor="let tire of datastream" [hidden]="!selected" style="width: 160px; float: left; margin-top: 0;">
  <ion-card-header>
    Posi&ccedil;&atilde;o: {{tire.pos}}
  </ion-card-header>  
    <ion-card-content>
      <p>Sensor: {{tire.id}}</p>
      <p>Press&atilde;o: {{tire.pres}} psi</p>
      <p>Temperatura: {{tire.temp}} &#x2103;</p>
      Leituras <ion-badge item-right secondary>{{tire.count}}</ion-badge>
    </ion-card-content>
  </ion-card>

</ion-content>