
<!-- logged out menu -->
<ion-menu id="loggedOutMenu" [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>{{ "menu.Menu" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content">

    <ion-list>
      <ion-list-header>
        {{ "menu.Navigate" | translate }}
      </ion-list-header>
      <button ion-item menuClose *ngFor="let page of appLoggedOutPages" (click)="openPage(page)">
        <ion-icon item-left [name]="page.icon"></ion-icon>
        {{ page.title | translate }}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        {{ "menu.Account" | translate }}
      </ion-list-header>
      <button ion-item menuClose *ngFor="let page of loggedOutPages" (click)="openPage(page)">
        <ion-icon item-left [name]="page.icon"></ion-icon>
        {{ page.title | translate }}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- logged in menu -->
<ion-menu id="loggedInMenu" [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>{{ "menu.Menu" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content">

    <ion-list>
      <ion-list-header>
        {{ "menu.Navigate" | translate }}
      </ion-list-header>
      <button ion-item menuClose *ngFor="let page of appLoggedInPages" (click)="openPage(page)">
        <ion-icon item-left [name]="page.icon"></ion-icon>
        {{ page.title | translate }}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        {{ "menu.Account" | translate }}
      </ion-list-header>
      <button ion-item menuClose *ngFor="let page of loggedInPages" (click)="openPage(page)">
        <ion-icon item-left [name]="page.icon"></ion-icon>
        {{ page.title | translate }}
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>