<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "title" | translate }}</ion-title>
    <ion-buttons end>
      <button (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bluetooth">

  <ion-list radio-group [(ngModel)]="bledevice" (ngModelChange)="bledeviceChanged($event)">
    <ion-list-header>
      {{ "ble.SelectDevice" | translate }}
    </ion-list-header>

    <ion-item *ngFor="let device of devices" value="{{device.id}}">
      <ion-label>{{device.name}}</ion-label>
      <ion-radio value="{{device.id}}"></ion-radio>
    </ion-item>

  </ion-list>

  <ion-list [hidden]="!bledevice">
    <ion-list-header>
      {{ "ble.SelectedDevice" | translate }}
    </ion-list-header>
    <ion-item>{{bledevice}}</ion-item>
    <ion-item>
      <ion-label>{{ "Tire Position" }}</ion-label>
      <ion-select [(ngModel)]="position">
        <ion-option *ngFor="let position of positions" value="{{position.k}}">
          {{position.v}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <button primary block (click)="sendData()">{{ "Send Data" }}</button>
    </ion-item>
  </ion-list>

  <ion-card *ngFor="let data of datastream">
    <ion-card-content>
      {{data}}
    </ion-card-content>
  </ion-card>

</ion-content>
