
<ion-navbar *navbar>

  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title>
    {{ "title" | translate }}
  </ion-title>
</ion-navbar>

<ion-content class="gps">

  <ion-list>
    <ion-item>
      <ion-label>{{ "ble.ScanDevices" | translate }}</ion-label>
      <ion-toggle [(ngModel)]="blescan" (ngModelChange)="bleToggle($event)"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list radio-group [hidden]="!blescan" [(ngModel)]="bledevice" (ngModelChange)="bledeviceChanged($event)">
    <ion-list-header>
      {{ "ble.SelectDevice" | translate }}
    </ion-list-header>

    <ion-item *ngFor="#device of devices">
      <ion-label>{{device.name}}</ion-label>
      <ion-radio value="{{device.id}}"></ion-radio>
    </ion-item>

  </ion-list>

  <ion-list [hidden]="!bledevice || blescan">
    <ion-list-header>
      {{ "ble.SelectedDevice" | translate }}
    </ion-list-header>
    <ion-item>{{bledevice}}</ion-item>
    <ion-item>
      <button primary block (click)="sendData()">{{ "ble.SendData" | translate }}</button>
    </ion-item>
  </ion-list>

  <ion-card *ngFor="#data of datastream">
    <ion-card-content>
      {{data}}
    </ion-card-content>
  </ion-card>

</ion-content>
